/*@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	position: relative;
	font: 14px/1.5 'Open Sans', Arial, Verdana, sans-serif;
	color: #464148;
	background-color: #fff;
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.wrapper {
	overflow: hidden;
	position: relative;

}

header {

}

h2 {
	margin-bottom: 20px;
    text-align: center;
    margin-top: 0;
    color: #635f57;
	text-transform: uppercase;
	margin: 0 0 25px;
	font-size: 24px;
	font-weight: 400;
}

.top-header,
.footer-info,
.top-footer {
	background: #4cb1ca;
	padding: 19px 0;
}

.holder {
	max-width: 1054px;
	padding: 0px 15px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

.main-header {
	background: #fff;
}

.top-box {
	float: left;	
}

.lang-list, 
.currency-list {
	display: inline-block;
}

.form-top-box label{
	font-size: 13px;
	line-height: 15px;
	color: #bef2ff;
	margin-right: 8px;
}

.lang-list select,
.currency-list select {
	outline: none;
	border: none;
	background-color: transparent;
	color: #fff;
}

.login-box,
.contact-box {
	margin: 0;
	list-style: none;
	float: right;
	padding: 0;
}

.login-box li,
.contact-box li {
	display: inline-block;
	vertical-align: middle; /*всегда добавлять при inline-block*/
	margin: 0 7px;
	line-height: 13px;
	border-right: 1px solid #fff;
	padding-right: 14px;
	font-size: 13px;
}

.login-box li a,
.contact-box li a {
	color: #fff;
	text-decoration: none;
}

.login-box li:last-child,
.contact-box li:last-child {
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}

.login-box li:first-child,
.contact-box li:first-child {
	margin-left: 0;
}

.login-box li a:hover,
.contact-box li a:hover {
	text-decoration: underline;
}

.main-header {
	width: 100%;
}

.logo {
	display: inline-block;
	vertical-align: top;
	float: left;
	padding: 40px 0;
	margin-right: 60px;
}

.logo img {
	width: 167px;
	display: block;
}

.navigation {
	float: left;
}

.navbar {
	padding: 40px 0;
	font-weight: 700;
	float: left;
	margin: 0;
}

.navbar li {
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	margin-right: 25px;
}

.navbar li a {
	color: #656565;
	text-decoration: none;
}

.navbar li a:hover {
	text-decoration: underline;
}

.content-holder {
	float: right;
	padding: 33px 0;
}

.search-form-box {
	float: left;
	margin-right: 15px;
	position: relative;
}

.search-form,
.subscribe-form {	
	width: 100%;
}

.search-form a{
	color: #656565;
}

.search-form,
.subscribe {
    float: left;
    border: 1px solid #c6c6c6;
    padding: 5px;
    display: inline-block;
}

.search {
	border: none;
	outline: none;

}

.cart-box {
	float: left;
	position: relative;
}

.btn {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #7db122;
	display: inline-block;
	text-align: center;
	position: relative;
	line-height: 32px;
	color: #fff;
	font-size: 20px;
}

.incart {
    color: #656565;
    text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
}

.banner-block {
	width: 100%;
	height: 475px;
	position: relative;
	background: url("../images/banner_sunglasses.jpg") no-repeat;
	background-size: cover;
	overflow: hidden;
}

.toleft,
.toright {
	width: 67px;
	height: 67px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 33px);
	left: 20px;
}

.toright {
	left: auto;
	right: 20px;
}

.toleft:after,
.toright:after {
	content: "\f104";
	font-family: 'FontAwesome';
	font-size: 55px;
	position: absolute;
	right: 26px;
	top: -9px;
	color: #cdcdcd;
}

.toright:after {
	content: "\f105";
	right: 20px;
}

.description-box {
	margin: 190px 0 0 236px;
	max-width: 330px;
}

.products-box,
.aside {
	float: left;
}

.products-box {
	width: 78%;
}

.products h2 {
	text-align: left;
}

.aside {
	width: 22%;
}

.item {
	width: 30%;
	display: inline-block;
	padding: 8px 8px 25px 8px;
	box-shadow: 0px 0px 7px 0px rgba(234,234,234,1);
	-webkit-box-shadow: 0px 0px 7px 0px rgba(234,234,234,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(234,234,234,1);
	box-sizing: border-box;
	margin-right: 3%;
	margin-bottom: 25px;
	position: relative;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #4cb1ca;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #4cb1ca;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4cb1ca;
}

.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #4cb1ca;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4cb1ca;
}

.ribbon-sale {
	right: auto;
	left: -5px;
	top: -5px;
}

.ribbon-sale span {
	right: auto;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top: 19px;
	left: -21px;
	background: #7db122;
}

.ribbon-sale span::before {
	border-left: 3px solid #7db122;
	border-top: 3px solid #7db122;
}

.ribbon-sale span::after {
	border-right: 3px solid #7db122;
	border-top: 3px solid #7db122;
}

.img-holder {
	background: #eff1f0;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

.img-holder img {
	display: block;
	width: 100%;
}

.description-holder {
	float: left;
	display: inline-block;
	max-width: 75%;
}

.description-holder p {
	margin: 0;
}

.price {
	color: #7db122;
	font-size: 18px;
}

.old-price {
	font-size: 14px;
	color: #464148;
	text-decoration:line-through
}

.add-to-cart {
	display: inline-block;
	padding: 8px 12px;
	background: #7db122;
	border-radius: 50%;
	color: #fff;
	font-size: 23px;
	float: right;
}

.aside-box {
	display: block;
	width: 100%;
	box-shadow: 0px 0px 7px 0px rgba(234,234,234,1);
	-webkit-box-shadow: 0px 0px 7px 0px rgba(234,234,234,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(234,234,234,1);
	box-sizing: border-box;
	margin-bottom: 45px;
	padding: 8px;
	text-align: center;
	border-top: 4px solid #4cb1ca;
	overflow: hidden;
}

.aside-box .slider {
	margin-bottom: 0;
}

.btn-cherk-it {
	text-decoration: none;
	padding: 15px 18px;
	background: #4cb1ca;
	color: #fff;
	float: right;
	position: absolute;
	bottom: 7%;
	right: 24%; 
}

.subscribe-box {
	margin-bottom: 30px;
	text-align: center;
}

.btn-subscribe {
	display: inline-block;
	text-decoration: none;
	padding: 15px 18px;
	background: #7eb123;
	color: #fff;
	margin-bottom: 30px
}
.subscribe-box p {
	margin:0 0 28px 0;
	position: relative;
}

.subscribe {
	width: 84%;
    margin-bottom: 18px;
    padding: 5px;
    margin-right: 8%;
    margin-left: 8%;
    border: 1px solid #e2e2e2;
    outline: none;
}

.subscribe-form label {
	border-top: 1px solid #e2e2e2;
	padding: 0 50% 0 0;
}

.slider .slide,
.slider .slide-show {
	position: relative;
}

.slider {
	margin-bottom: 45px;
}

.slide img {
	width: 100%;
	height: auto;
}

.slide .text-block {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	color: #fff;
	width: 480px;
	margin: 0 0 0 -480px;
	transform: translate(0, -50%);
}

.slide .text-block .title {
	font-size: 28px;
	font-weight: 600;
	line-height: 47px;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
}

.slide .text-block span {
	display: inline-block;
	vertical-align: top;
	padding: 0 17px;
	margin-bottom: 3px;
	background: rgba(0, 0, 0, 0.5)

}

.slide .text-block span:first-child {
	font-weight: 300;
	font-size: 30px;
}

.slick-arrow {
	position: absolute;
	top:50%;
	transform: translate(0, -50%);
	width: 67px;
	height: 67px;
	border-radius: 50%;
	background: #fff;
	border: 0;
	padding: 0;
	z-index: 3;
	cursor: pointer;
	color: #cdcdcd !important;
	font-size: 0;
	text-align: center;
	line-height: 0;
	outline: none;
}

.slick-arrow:hover {
	opacity: .9;
}

.slick-arrow.slick-prev {
	margin-left: -595px;
	left: 50%;
}

.slick-arrow.slick-prev:after,
.slick-arrow.slick-next:after {
	content: "\f104";
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	font-size: 55px;
	line-height: 67px;
}

.slick-arrow.slick-next:after {
	content: "\f105";
}

.slick-arrow.slick-next {
	right: 50%;
	margin-right: -595px;
}

.banner {
	overflow: hidden;
	text-align: center;
}

.slick-dots {
	padding: 15px 0 24px 0;
    box-shadow: inset 0px 2px 7px 0px rgba(234,234,234,1);
	-webkit-box-shadow: inset 0px 2px 7px 0px rgba(234,234,234,1);
    -moz-box-shadow: inset 0px 2px 7px 0px rgba(234,234,234,1);
    margin: 16px -30% -11%;
}

.slick-dots li{
	display: inline-block;
}

.slick-dots li button {
	text-indent: -9999px;
	margin:5px;
	padding:0;
	height: 11px;
	width: 11px;
	border-radius: 50%;
	background: #7db122;
	outline: none;
	cursor: pointer;
	border-style: none;
}

.slick-dots .slick-active button {
	background: #4cb1ca;
}

.top-footer {
	position: relative;
}

.delivery-box {
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}

.delivery-box li {
	float: left;
	width: 50%;
}

.delivery-car,
.telephone {
	display: inline-block;
	position: relative;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin: 0 20px 0 0;
}

.delivery-car p,
.telephone p {
	vertical-align: middle;
}

.delivery-car:after,
.telephone:after {
	content: "\f0d1";
	font-family: 'FontAwesome';
	position: absolute;
	left: 13px;
	top: 0;
	font-size: 35px;
	line-height: 67px;
	color: #39a0b9;
}

.telephone:after {
	content: "\f095";
	left: 19px;
}

.footer-row {
	padding-top: 50px;
	width: 100%;
	background: #39a0b9;
}

.footer-column {
	float: left;
	width: 22%;
	margin-right: 3%;
}

.footer-column img {
	width: 100%;
}

.footer-column h2 {
	text-align: left;
	color: #fff;
	font-size: 20px;
}

.footer-column p {
	font-size: 13px;
}

.inf-links,
.contacts {
	list-style: none;
	color: #fff;
	line-height: 22px;
	font-size: 13px;
}

.inf-links {
	padding-left: 30px;
}

.inf-links li i {
	margin-right: 10px;
}

.footer-row .holder .footer-column:last-child h2 {
	padding-left: 40px;
}

.footer-row .holder .footer-column:nth-child(3) h2 {
	padding-left: 30px;
}

.contacts li:last-child {
	border-bottom: solid 1px #4cb1ca;
	margin-bottom: 18px;
}

.socials {
	font-size: 18px;
	list-style: none;
	float: left;
	margin: 0;
	text-align: center;
}

.socials li {
	display: inline-block;
	position: relative;
}

.socials li a {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: #fff;
	border-radius: 50%;
}

.google-btn,
.linkedin-btn,
.rss-btn,
.facebook-btn {
	font-size: 18px;
	color: #39a0b9;
}

.facebook-btn:after,
.linkedin-btn:after,
.rss-btn:after,
.google-btn:after {
	content: "\f09a";
	font-family: 'FontAwesome';
	position: absolute;
	vertical-align: middle;
	top: 10%;
	right: 0;
	left: 0;
}

.linkedin-btn:after {
	content: "\f0e1";
}

.rss-btn:after {
	content: "\f09e";
}

.google-btn:after {
	content: "\f0d5";
}

.footer-info {
	background: #0b4b5a;
	width: 100%;
}

.copyright,
.contact-info {
	width: 50%;
	float: left;
}

.copyright p {
	color: #8adcf0;
	font-size: 13px;
	padding: 0;
	margin: 0;
}

.contact-box {
	padding: 0;
}

.contact-box li {
	border-right: 1px solid #8adcf0;
}

.contact-box li a {
	color: #8adcf0;
}

a {

}